/*  your css code here. If applicable */
body {
  background-color: rgb(204, 204, 204);
}
.main {
  text-align: center;
  font-weight: 900;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}
.playlist {
  display: flex;
  padding-top: 10px;
  margin: auto;
  width: 90vw;
  height: 150px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}
.playlist > ul > li {
  list-style-type: none;
  padding-bottom: 5px;
}
.playlist > ul > li > a {
  text-decoration-line: none;
}
h2 {
  text-align: center;
}
.container {
  display: grid;
  justify-content: center;
  width: 80vw;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.player_one,
.player_two {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 72vw;
}
.player_one {
  padding-top: 25px;
}
.player_two {
  padding-bottom: 30px;
}
.container > p {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
